node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
backend/credentials-839-21894808.json
backend/credentials-839-01jyy40pybt89qz24f4jfy74gx.json
backend/credentials-839-01jyz0ndk0xkyss0fbef0mehqm.json
backend/credentials-839-01jyzcn6jtz3we5n2s2fg9mwtc.json
